<!DOCTYPE html>
<html>
									<!--Referencia para imagens de aqueles que estão na mesma pasta do html
					usar o comando '{{url_for("static", filename = "img/<nome da img>")}}' na mesma
										estrutura que a linha 15 do index.html'-->
<head>
	<meta charset="UTF-8"/>
	<title>Faculdade Futura</title>	<!--Código de referência abaixo podem copiar para os outros html, por ser padrão-->
	<link rel = 'stylesheet' 					
                type = 'text/css' href = '{{url_for("static", filename = "./estilogeral.css")}}' media = 'screen'> 
</head>
<body>
	<div id="header">
		<div id="logo">
			<a href="index.html"> <img src = '{{url_for("static", filename = "img/logo_faculdade.png")}}' class="logo"/></a>
		</div>
		<div id="menu">
			<ul>
				<li><a href="{{url_for('index')}}">Home</a></li>
				<li><a href="{{url_for('curs')}}">Cursos</a></li>
				<li><a href="{{url_for('detalhes')}}">Detalhes</a></li>
				<li><a href="{{url_for('disciplinas')}}">Disciplinas</a></li>
				<li><a href="{{url_for('noticias')}}">Noticias</a></li>
			</ul>
		</div>
	</div>
	<div id="conteudo">
		<a href="cursos.html"><img src= '{{url_for("static", filename = "img/fundo-principal.png")}}' class="fundo-principal"/></a>
		<h1 class="titulo-padrao"> RECONHECIMENTO </h1>
		<p class="texto-padrao"> A Faculdade Futura é altamente reconhecida por sua atuação no mercado da educação, o que comprova o compromisso da Instituição com o ensino de qualidade e a dedicação do Grupo Futura em transformar a sociedade através da tecnologia. Desta maneira, ao longo dos anos a Faculdade Futura tem recebido prêmios e reconhecimentos que são resultados do trabalho contínuo de professores e funcionários e da determinação de seus alunos. </p>
	</div>
	<div id="footer">
		<p>Copyright © 2019 Lorem Ipsum Faculdade - Todos os direitos reservados</p>
	</div>
</body>
</html>
